
<% if !@status %>
	<p class="wrong">INCORRECT! Missing keywords:</p>
	<% elsif @status %>
	<p id="notice">Correct!</p>
<% end %>

  <% if @keywords %>
	<% @keywords.each do |keyword| %>
		<strong><%= keyword %><br></strong>
	<% end %>
  <% end %>
</p>

<p>
  <%= @statement %>
  
</p>



<%= link_to 'Back', new_post_path %>
