<!DOCTYPE html>
<html>
<head>
  <title>RulePerfect</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<br>

<div id="header">
	</div>

<center>


<div id="content">
<%= yield %>
</div>


</center>

<script>
function pressed(e) {
    if ( (window.event ? event.keyCode : e.which) == 13) { 
        document.forms[0].submit() 
    }
}
</script>
</body>
</html>
